html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #000;
}
body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: sans-serif, georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  font-family: sans-serif;
}

.nav {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-link-text:hover {
  color: #37ba83;
}